:root {
  font-family: "Comic Sans MS", cursive, sans-serif;
  --green: #25f2a3;
  --brown: #c9a27e;
  --dark-green: #2a8865;
  --dark-brown: #bc8e66;
  --darker-brown: #8f6b4c;
  --darker-green: #2d6a4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  background-color: #bc8e66a6;
}

#gameCanvas {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  max-width: 100vw;
  z-index: 2;
  border: 10px ridge #8F6B4C;
}

.overlay-thing {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  color: white;
  padding: 40px 10px 10px 10px;
  background: url("../public/menu.png") center/contain no-repeat;
  width: 600px;
  height: 450px;
}

.overlay-thing div {
  margin-bottom: 10px;
  text-align: center;
}

.navbar {
  background-color: var(--dark-brown);
  border-bottom: var(--darker-brown) 5px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

a,
#username-display,
#Logo {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.navbar div {
  display: flex;
  align-items: center;
}

a:hover {
  color: var(--darker-brown);
}

.btn {
  background-color: var(--dark-green);
  border: 2px solid var(--darker-green);
  color: white;
  margin: 3px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--darker-green);
}

input {
  background-color: white;
  border: 2px solid var(--darker-brown);
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input:hover {
  background-color: #f1d4b8;
}

input:focus {
  outline: none;
}

a,
.btn,
input {
  transition: ease-in 0.2s;
}

.hidden {
  transition: all 1s linear;
  display: none !important;
}

#resign-button {
  background: url("../public/resign.png") center/contain no-repeat;
  cursor: pointer;
  width: 60px;
  height: 45px;
  border: none;
}

#resign-button:active {
  background: url("../public/resign-click.png") center/contain no-repeat;
  translate: 0px 5px;
}

#pfp-display {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border: none;
  display: inline-block;
}

.player-color {
  width: 50px;
  height: 50px;
  border: none;
  display: inline-block;
}

#waiting-room-gamecode {
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--darker-brown);
}

.player-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#waiting-room-players {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 16px;
}